{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_bundle 'main' 'css' %}
    <title>{% block title %}MMT Py{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/png">
</head>

<body class="site">
    {% include "header.html" %}

    <main class="site__main">
        <div class="container u-mt-large u-mb-large">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include "footer.html" %}
</body>
</html>
