body {
    font-family: var(--font-stack);
    line-height: var(--base-unit);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--page-width);
    padding-left: var(--base-unit);
    padding-right: var(--base-unit);
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site__main {
    flex-grow: 1;
}

.header {
    background-color: var(--layout-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.header__inner {
    align-items: center;
    display: flex;
}

.header__title {
    font-size: 1.5rem;
    line-height: var(--base-unit);
    margin: 0;
}

.header__title-link {
    display: flex;
}

.header__title-link:link,
.header__title-link:visited {
    color: var(--text-color);
    text-decoration: none;
}

.header__title-link:hover,
.header__title-link:active {
    text-decoration: underline;
}

.header__logo {
    display: block;
    height: var(--base-unit);
    margin-right: calc(var(--base-unit) / 4);
}

.primary-nav {
    margin-left: auto;
}

.primary-nav__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: calc(var(--base-unit) / 2) 0;
}

.primary-nav__item {
    margin-left: calc(var(--base-unit) / 2);
}

.primary-nav__link:link,
.primary-nav__link:visited {
    color: var(--text-color);
    text-decoration: none;
}

.primary-nav__link:hover,
.primary-nav__link:active {
    text-decoration: underline;
}

.footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color);
}

.footer__inner {
    padding-bottom: calc(var(--base-unit) / 2);
    padding-top: calc(var(--base-unit) / 2);
}

.breadcrumbs {
    color: var(--ui-color);
    font-size: 0.875rem;
    line-height: var(--base-unit);
}

.breadcrumbs__link:link,
.breadcrumbs__link:visited {
    color: var(--ui-color);
}

.page-title {
    font-size: 1.5rem;
    line-height: var(--base-unit);
    margin-top: calc(var(--base-unit) / 2);
    margin-bottom: calc(var(--base-unit) * 1);
}
