.segment {
    position: relative;
}

.segment__word {
    background-color: lightblue;
    border-radius: 5px;
    margin: 0;
    opacity: var(--score);
    position: absolute;
}

.segment__timecode {
    color: var(--subdued-color);
    font-size: 0.875rem;
}
