{% extends "base.html" %}

{% block title %}{{ segment.text }} | MMT Py{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    <a class="breadcrumbs__link"
        href="{% url 'web:uploaded-files' %}">Uploaded files</a>
    /
    <a class="breadcrumbs__link"
        href="{% url 'web:uploaded-file-detail' transcript.uploaded_file.id %}">
        {{ transcript.uploaded_file }}
    </a>
    /
    <a class="breadcrumbs__link"
        href="{% url 'web:transcript-detail' transcript.id %}">
        transcript {{ transcript.language }}
    </a>
    /
    segment {{ segment.text }}
</nav>

<h1 class="page-title">
    {{ segment.text }}<br>
    {{ segment.start }} – {{ segment.end }}
</h1>

<div class="segment" style="width: {{ width }}px;">
    {% for word in new_words %}
    <p class="segment__word"
        style="--score: {{ word.score }}; left: {{ word.left }}px; width: {{ word.width }}px"
        title="Score: {{ word.score }}">
        <span class="segment__timecode">
            {{ word.start }} – {{ word.end }}
        </span>
        {{ word.word }}
    </p>
    {% endfor %}
</div>

{% endblock %}
