{% extends "base.html" %}

{% block title %}Upload | MMT Py{% endblock %}

{% block content %}
<h1 class="page-title">Upload</h1>

<form action="{% url 'web:upload' %}" method="POST"
    enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form }}

    <div class="u-mt">
        <button type="submit">
            Submit
        </button>
    </div>
</form>

<ul class="u-mt">
{% for file in uploaded_files %}
    <li>
        {{ file.name }} ({{ file.media_type }})
    </li>
{% endfor %}
</ul>

{% endblock %}
