{% extends "base.html" %}

{% block title %}{{ uploaded_file.name }} | MMT Py{% endblock %}

{% block content %}
<nav class="breadcrumbs">
    <a class="breadcrumbs__link"
        href="{% url 'web:uploaded-files' %}">Uploaded files</a>
    /
    {{ uploaded_file }}
</nav>

<h1 class="page-title">{{ uploaded_file.name }}</h1>

<dl>
    <dt>Filename</dt>
    <dd>{{ uploaded_file.name }}</dd>

    <dt>Media type</dt>
    <dd>{{ uploaded_file.media_type }}</dd>

    <dt>Size</dt>
    <dd>{{ uploaded_file.size }}</dd>

    <dt>Duration</dt>
    <dd>{{ uploaded_file.duration }}</dd>

    <dt>Upload date</dt>
    <dd>{{ uploaded_file.upload_date }}</dd>
</dl>

<h2>Transcripts</h2>

<ul>
{% for transcript in transcripts %}
    <li>
        <a href="{% url 'web:transcript-detail' transcript.id %}">
            {{ transcript }}
        </a>
    </li>
{% endfor %}
</ul>

{% endblock %}
